.footer{
		width: 1300px;
		height: 400px;
		background: url(../img/哈士奇2.jpg) center;
		background-size: 100%;
		display: flex;
		margin: 0 auto;
}
.footer_1 ul{
	display: flex;
	list-style-type: none;
	margin-left: 52px;
}
.footer_1 p{
	font-size: 20px;
	color: white;
	margin-left: 100px;
	margin-top: 100px;
}
.footer_1 ul li{
	height: 30px;
	border: 1px solid skyblue;
	margin-top: 10px;
}
.footer_1 ul li img{
	width: 30px;
	height: 30px;
}
.footer_2 ul{
	float: left;
	margin-left: 180px;
	list-style-type: none;
	margin-top: 30px;
}
.footer_2 ul li{
	margin-top: 30px;
	font-size: 17px;
}
.footer_2 ul li a{
	text-decoration: none;
	color: white;
}