*{
	margin: 0;
	padding: 0;
}
.my_header,.my_footer{
 	width: 100%;
 	border: 0;
 }
 .nav{
 	background: #0066CC;
 	width: 100%;
 	height: 70px;
 	margin-top: -75px;
 }
 .nav ul{
 	display: flex;
 	list-style-type: none;
 	margin-left: 80px;
 }
 .nav ul li{
 	margin-left: 40px;
 	font-size: 18px;
 	font-weight: bold;
 	line-height: 50px;
 }
 .nav ul li:hover{
 	background-color: skyblue;
 	border-bottom: 3px solid purple;
 	padding-bottom: 17px;
 	transition: all 2s;
 }
 .nav ul li:active{
 	background-color: yellow;
 }
 .nav ul li a{
 	text-decoration: none;
 	color: white;
 }
 #title{
 	 width: 100%;
 	 height: 380px;
 	 background: url(../img/list-background.jpg);
 	 background-size: 100% 100%;
 	 margin-top: 10px;
 	 position: relative;
 }
 #title>p{
 	 font-size: 25px;
 	 color: white;
 	 position: absolute;
 }
 #title p:first-child{
 	 top: 60px;
 	 left: 150px;
 }
 #title p:last-child{
 	 top: 100px;
 	 left: 150px;
 }
 .first,.second,.third,.forth{
	 width: 1300px;
	 height: 300px;
	 margin: auto;
	 margin-top: 100px;
	 display: flex;
 }
 .first:hover>.first_1>img,
 .second:hover>.second_1>img,
 .third:hover>.third_1>img,
 .forth:hover>.forth_1>img{
	 animation: big 1s linear forwards;
 }
 .first_1,
 .second_1,
 .third_1,
 .forth_1{
	 width: 300px;
	 height: 300px;
	 margin-left: 50px;
	 overflow: hidden;
 }
 .first:hover,
 .second:hover,
 .third:hover,
 .forth:hover{
	 background-color: #ccc;
 }
 .first_1>img,
 .second_1>img,
 .third_1>img,
 .forth_1>img{
	 width: 300px;
	 height: 200px;
	 margin-top: 50px;
 }
 @keyframes big{
 	from{
 		transform: scale(1.1);
 	}
 	50%{
 		transform: scale(1.15);
 	}
 	to{
 		transform: scale(1.2);
 	}
 }
 .first_2,
 .second_2,
 .third_2,
 .forth_2{
	 width: 600px;
	 height: 50px;
	 line-height: 50px;
	 font-size: 20px;
	 color: #C69500;
	 margin-left: 100px;
 }
 .first_3,
 .second_3,
 .third_3,
 .forth_3{
	 width: 800px;
	 margin-left: 100px;
	 display: flex;
	 }
 .first_3 p:first-child,
 .second_3 p:first-child,
 .third_3 p:first-child,
 .forth_3 p:first-child{
	 font-size: 18px;
	 color: blue;
	 margin-top: 20px;
 }
 .first_3 p:last-child,
 .second_3 p:last-child,
 .third_3 p:last-child,
 .forth_3 p:last-child{
	 margin-top: 30px;
	 color: blueviolet;
	 font-size: 18px;
 }
 .first_3_1{
	 width: 6px;
	 height: 200px;
	 background-color: blue;
	 display: none;
	 margin-right:10px;
 }
 .second_3_1{
		width: 5px;
 	  height: 200px;
 	  background-color: blue;
		display: none;
		margin-right:10px;
 }
 .third_3_1{
 	 width: 6px;
 	  height: 200px;
 	  background-color: blue;
 		display: none;
		margin-right:10px;
 }
 .forth_3_1{
 	 width: 5px;
 	  height: 200px;
 	  background-color: blue;
		display: none;
		margin-right:10px;
 }
 .first:hover>div>.first_3>.first_3_1,
 .second:hover>div>.second_3>.second_3_1,
 .third:hover>div>.third_3>.third_3_1,
 .forth:hover>div>.forth_3>.forth_3_1{
	 animation: height 2s linear forwards;
	 display: inline-block;
 }
 @keyframes height{
 	from{
 		height: 0px;
 			}
 			25%{
 				height: 50px;
 			}
 			50%{
 			height: 100px;
 			}
 			75%{
 				height: 150px;
 			}
 	to{
 		height: 200px;
 	}
 }
 .my_footer{
 	 margin-top: 100px;
 	 height: 400px;
 }